.login_container{
    background: #fff;
}
.login_header{
    width: 100vw;
    height: 66px;
}

.login_logo img{
    height: 28px;
    width: 110px;
    margin: 32px 0 0 56px;
}

.loginForm_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 66px);
    
}

.signIn{
    box-shadow:  6px 6px 10px #d0d0d0,
                -6px -6px 10px #f0f0f0;
    padding: 24px;
    border-radius: 4px;
}

.signIn h1{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: -10px;
}

.signIn p{
    margin-top: 10px;
    margin-bottom: 25px;
}

.signIn form{
    display: flex;
    flex-direction: column;
    height: 236px;
    width: 304px;
    gap: 30px;
}

.signIn form input{
    padding: 28px 12px 6px;
    border-radius: 4px;
    border: 1px solid black;
}

.signIn form input::-webkit-input-placeholder{
    font-size: 17px;
    font-weight: lighter;
    /* align-items: center; */
}

.signIn form button{
    height: 52px;
    border-radius: 28px;
    background: #0a66c2;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border: none;
}