.navbar_container {
  background: #fff;
  height: 53px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.left_navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo_navbar img {
  width: 34.17px;
  height: 34.17px;
}

.navbar_search {
  width: 427px;
  height: 34px;
  position: relative;
}
.searchicon {
  position: absolute;
  top: 7px;
  left: 10px;
}
.navbar_search input {
  width: 280px;
  height: 34px;
  background: #eef3f8;
  border: none;
  padding: 0px 8px 0px 40px;
  border-radius: 4px;
}

.right_navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_home,
.navbar_network,
.navbar_job,
.navbar_message,
.navbar_notification,
.navbar_profile,
.navbar_work > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #00000099;
  width: 82px;
  height: 52px;
  transition: 0.3s;
}

.navbar_home:hover,
.navbar_job:hover,
.navbar_message:hover,
.navbar_network:hover,
.navbar_notification:hover,
.navbar_profile:hover,
.navbar_work:hover {
  color: #000000e6;
}

.nav_profile_img img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.logout_div button{
  background: none;
  border: 1px solid #0a66c2;
  padding: 4px 8px;
  border-radius: 25px;
  font-weight: 600;
  color: #0a66c2;
  letter-spacing: 0.5px;
  cursor: pointer;
}